.not_null
{
  background-image: url("bg.jpg");
  height:25%;
  width: 25%;
  border-color: #402609;
  border-width: 5px;
  border-style: solid;
  display: block;
  position: fixed;
  color: #FFFFFF;
  text-align: center;
  font-size: 5em;
}
.null
{
  background:#000000;
  border-color:#000000;
}

#b0
{top:8%;left:8%;}
#b1
{top:8%;left:37.5%;}
#b2
{top:8%;left:67%;}
#b3
{top:37.5%;left:8%;}
#b4
{top:37.5%;left:37.5%;}
#b5
{top:37.5%;left:67%;}
#b6
{top:67%;left:8%;}
#b7
{top:67%;left:37.5%;}
#b8
{top:67%;left:67%;}
